body{
    background-color: grey;
}
.header{
    min-width: 300px;
    display: flex;
    justify-content: space-between;
}
.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

}
.game_area{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #FFEDB2;
    border: 15px solid #FFEDB2;
    width: 330px;
    min-height: 30px;
    border-radius: 25px;
}
.game_area div{
    background-color: #FF6DF8;
    width: 60px;
    height: 60px;
    margin: 1px;
}